*{
    margin:0px;
    padding:0px;
}

body{
    margin:0px;
    padding:0px;
    font-size: 15pt;
    background-image: url("Paintball1.jpg");
    background-size: 110vw 170vh;
    background-repeat: no-repeat;
}

.capa{
    width: 79%;
    height: 88vw;
    position: absolute;
    background: #ddd;
    opacity: 0.5;
}

.capa2{
    width: 15%;
    height: 50vw;
    position: absolute;
    background: #ddd;
    opacity: 0.5;
    margin-left: 84%;
    border: 5px solid rgb(255, 255, 255);
}


h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Sans-Serif;
    font-size: 60pt;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: ghostwhite;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Sans-Serif;
    font-size: 10pt;
    text-align: center;
}

h3{
    margin:10px;
    padding:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Sans-Serif;
    font-size: 20pt;
    text-align: justify;
}

header{
    margin: 0px;
    padding: 80px;
    width: 630px;
    height: 730px;
    /*background: darkgoldenrod;*/
    border: 5px solid white;
    border-radius: 10px;
}

div {
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(255, 175, 0);
    width: 800px;
    height: 900px;
}

footer{
    margin:0px;
    padding: 20px;
    width: 350px;
    height: 10px;
    font-size: 10pt;
}

p{
    margin-left: 84%;
    padding:10px;
    z-index: 1;
    position: absolute;
    line-height: 3;
    box-shadow: 0 0 15px rgb(100, 15, 15);
    border-radius: 10px;
    text-align: center;
    height: 500px;
    width: 140px;
}

.parrafo{
    z-index: 1;
    position:absolute;
    width: 760px;
    height: 860px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 5px 25px rgb(255, 175, 0);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

.parrafo img{
    width: 310px;
    border-radius: 10px;
    float: right;
    margin: 20px;
}